// Brand Colors
$direct-express-orange: #ef8400;
$direct-express-green: #1a1f71;

// Layout Colors
$body-text-color: #666;
$light-grey: #f6f6f6;
$dark-grey: #b1b1b1;
$medium-grey: #CCC;
$link-green: #1a1f71;
$light-green: #aac0af;
$footer-green: #068c1b;
