.bullet-arrows, .carousel-arrows-back, .carousel-arrows-next, .circlular-link-go-arrow, .circlular-link-go-arrow-down, .clear-button-arrows, .icon-activate-card-over, .icon-activate-card-up, .icon-atm-locator-up, .icon-atm-locator-over, .icon-financial-tools-over, .icon-financial-tools-up, .icon-learn-more-up, .icon-learn-more-over, .learn-more-big-icons-atm-safety-tips, .learn-more-big-icons-avoiding-fees, .learn-more-big-icons-lost-or-stolen-data, .small-go-arrows-down, .small-go-arrows-up, .single-arrow-right, .single-arrow-down {
	background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
}

.bullet-arrows{
	background-position: 0 0;
	width: 11px;
	height: 9px;
}

.carousel-arrows-back{
	background-position: 0 -20px ;
	width: 28px;
	height: 41px;
}

.carousel-arrows-next{
	background-position: 0 -70px ;
	width: 28px;
	height: 41px;
}

.circlular-link-go-arrow{
	background-position: 0 -127px ;
	width: 15px;
	height: 12px;
}

.circlular-link-go-arrow-down{
	background-position: -22px -127px ;
	width: 12px;
	height: 15px;
}

.clear-button-arrows{
	background-position: -1px -176px ;
	width: 15px;
	height: 12px;
}

.icon-activate-card-over{
	background-position: -119px 0;
	width: 65px;
	height: 65px;
}

.icon-activate-card-up{
	background-position: -50px 0;
	width: 65px;
	height: 65px;
}

.icon-atm-locator-up{
	background-position: -188px 0;
	width: 65px;
	height: 65px;
}

.icon-atm-locator-over{
	background-position: -259px 0;
	width: 65px;
	height: 65px;
}

.icon-financial-tools-over{
	background-position: -399px 0;
	width: 65px;
	height: 65px;
}

.icon-financial-tools-up{
	background-position: -329px 0;
	width: 65px;
	height: 65px;
}

.icon-learn-more-up{
	background-position: -470px 0;
	width: 65px;
	height: 65px;
}

.icon-learn-more-over{
	background-position: -543px 0;
	width: 65px;
	height: 65px;
}

.learn-more-big-icons-atm-safety-tips{
	background-position: -48px -81px ;
	width: 173px;
	height: 112px;
}

.learn-more-big-icons-avoiding-fees{
	background-position: -238px -84px ;
	width: 173px;
	height: 112px;
}

.learn-more-big-icons-lost-or-stolen-data{
	background-position: -426px -84px ;
	width: 173px;
	height: 112px;
}

.small-go-arrows-down{
	background-position: -3px -156px ;
	width: 9px;
	height: 11px;
}

.small-go-arrows-up{
	background-position: -21px -155px ;
	width: 9px;
	height: 11px;
}

.single-arrow-right {
	background-position: 0px -201px;
	width:6px;
	height:9px;
}

.single-arrow-down {
	background-position: -14px -201px;
	width:9px;
	height:6px;
}

