/**
* DPS Prepaid Consumer Styles
* Theme:        Default
* Component:    FAQs
*
*/

.faqs-jump-links {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {

        a:link, a:visited {
            i {
                color: $icon-color;
            }
        }
    }
}

.faqs {

    p {
        margin-bottom: 5px;

        &.faqs-back-to-top {
            margin-bottom: 32px;

            a:link, a:active {
                color: $faqs-back-to-top-active-link-color;

                i { color: $faqs-back-to-top-active-link-color; }
            }

            a:hover {
                color: $faqs-back-to-top-hover-link-color;
                text-decoration: underline;

                i { color: $faqs-back-to-top-hover-link-color; }
            }
        }
    }

    ul {
        margin-bottom: 0;
    }

    .faqs-question {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }

}
