/**
* DPS Prepaid Consumer Styles
* Theme:        Default
* Component:    .buttons
*
*/


.button.small, .button.large, .button.stretch {
  color: $button-text-color;

  &:hover {
    color: $button-text-color;
  }

  i {
	color: $button-text-color;
  }
}

.button.primary {
  background: $button-primary-color;

  &:hover, &:focus {
    background: $button-primary-hover-color;
    @include shadow-inset(0px, -8px, 0px, -4px, $button-primary-hover-bottom-border-color);
  }

  &:active {
    background: $button-primary-pressed-color;
    @include shadow-none();
  }
}

.button.secondary {
  background: $button-secondary-color;

  &:hover, &:focus {
	color: $button-text-color;
    background: $button-secondary-hover-color;
    @include shadow-inset(0px, -8px, 0px, -4px, $button-secondary-hover-bottom-border-color);
  }

  &:active {
	color: $button-text-color;
    background: $button-secondary-pressed-color;
    @include shadow-none();
  }
}

.button.standard {
  background: $button-standard-color;

  &:hover, &:focus {
    background: $button-standard-hover-color;
    @include shadow-inset(0px, -8px, 0px, -4px, $button-standard-hover-bottom-border-color);
  }

  &:active {
    background: $button-standard-pressed-color;
    @include shadow-none();
  }
}

.button.warning {
  background: $button-warning-color;

  &:hover, &:focus {
    background: $button-warning-hover-color;
    @include shadow-inset(0px, -8px, 0px, -4px, $button-warning-hover-bottom-border-color);
  }

  &:active {
    background: $button-warning-pressed-color;
    @include shadow-none();
  }
}

.button-group {
	border-top: 1px solid $button-group-border-color;
}

button.calendar {
	background: white;
	border: 1px solid $datepicker-button-border-color;
	color:  $tertiary-color;

	&:hover, &:focus {
		background: $datepicker-hover-background-color;
		color:  $tertiary-color;
	}
}
