/**
* DPS Prepaid Consumer Styles
* Theme:        Default
* Component:    Content Balance
*
*/

.balance-widget {
	h2 {
		display: inline-block;
		margin-right: 10px;
	}

	h2, h3, h4 {
        color: $card-program-name-color;
    }

    h3, .available-balance-amount {
        font-size: 24px;
        text-align: center;
    }
    
    h4, .actual-balance-amount {
        font-size: 16px;
        text-align: center;
    }

	select {
		display: inline-block;
	}
}

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
    .balance-widget {
        h3, h4 {
            text-align: right;
        }
        
        .available-balance-amount, .actual-balance-amount {
            text-align: left;
        }
    }
    
    
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Medium-Large-1 screens
@media only screen and (min-width: 48em) {

} /* min-width 768px, medium screens */

// Medium-Large-2 screens
@media only screen and (min-width: 55em) {
    
} /* min-width 880px, medium screens */

// Medium-Large-3 screens
@media only screen and (min-width: 40em) and (max-width: 60em) {
    
} /* min-width 960px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
    
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */