/**
* DPS Prepaid Consumer Styles
* Theme:        Default
* Component:    Statement
*
*/

.statement {
	background: $statement-body-background-color; 
	line-height: 25px;
	font-size: 12px;

	.content-container {
		padding-bottom: 0px;
	}

	table {

		col:last-child {
			white-space: nowrap;
		}

		tr {
			th, td {
				padding: 9px 10px;
				font-size: 12px;

				&.nowrap {
					white-space: nowrap;
				}
			}
		}

		&.layout {
			border: none;

			tr {
				background: transparent;

				td {
					padding: 5px;
					vertical-align: top;

					&.table-cell-6 {
						width: 50%;
					}
				}

			}
		}

		caption {
			height: 1px;
			left: -99999px;
			overflow: hidden;
			position: absolute;
			top: auto;
			width: 1px;
		}
	}

	.statement-header {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.statement-box {
		padding: 10px;
		text-align: center;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}
}


// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Medium-Large-1 screens
@media only screen and (min-width: 48em) {

} /* min-width 768px, medium screens */

// Medium-Large-2 screens
@media only screen and (min-width: 55em) {
    
} /* min-width 880px, medium screens */

// Medium-Large-3 screens
@media only screen and (min-width: 40em) and (max-width: 60em) {
    
} /* min-width 960px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
    
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */